<% include ./partials/navbar %>
<div style="padding-top:50px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-9">

                    <div class="card text-white bg-info" style="margin-bottom: 15px">
                        <h5 class="card-header">
                            Analytics
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                Total points: <%= user.score %>
                                <br />
                                Tasks completed:
                                <br />
                                Goals completed: <%= completedGoals.length %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-9">

                    <div class="form-group">
                        <form action="/goals/add" method="POST">
                            <div class="form-group">
                                <!-- <label for="Description">Enter Goal</label> -->
                                <input type="text" id="description" name="description" class="form-control"
                                    placeholder="Enter Goal" />
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Enter Goal</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="row">
                <% for (let i = 0; i < uncompletedGoals.length; i++) { %>
                <div class="col-md-4">
                    <div class="card text-white bg-info" style="margin-bottom: 15px">
                        <h5 class="card-header">
                            <a href="/goals/<%= uncompletedGoals[i] %>" style="color:#d5e7f5;">
                                <%= uncompletedGoals[i] %>
                            </a>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                                Points: <%= score[i] %>
                                <br />
                                Tasks:
                            </p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
