<% include ./partials/navbar %>
<div style="padding-top:50px;"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info">
                <h5 class="card-header text-center">
                    <%= goal %>
                </h5>
                <div class="card-body">
                    <p class="card-text text-center">
                        Points: <%= goalsData.points %>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <div class="button-container">
                        <div class="button-column">
                            <form method="POST" action="/goals/complete/<%= goal %>">
                                <button class="btn btn-primary checkmark-button" type="submit">
                                    <svg class="checkmark-svg" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 1333.33 1333.33" shape-rendering="geometricPrecision"
                                        text-rendering="geometricPrecision" image-rendering="optimizeQuality"
                                        fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M373.12 737.67a76.66 76.66 0 01-8.27-10.65 75.59 75.59 0 01-6.21-11.91 76.7 76.7 0 01-4.89-42.68 75.993 75.993 0 0118.92-38.5l3.69-3.8c24.88-23.7 62.61-28.12 92.22-10.32 4.24 2.53 8.28 5.54 12.04 8.98l.37.34c20.96 20.09 56.4 52.95 79.68 73.68l19.98 17.92 244.49-256.46c3.44-3.55 7.22-6.73 11.24-9.51 4.09-2.83 8.41-5.23 12.85-7.17a75.9 75.9 0 0114.1-4.57c4.86-1.07 9.81-1.67 14.72-1.79h.28c4.9-.05 9.69.3 14.55 1.12 4.74.8 9.5 2.09 14.47 4 4.56 1.74 8.95 3.94 13.09 6.55 3.97 2.51 7.82 5.49 11.46 8.93l1.76 1.59c3.43 3.4 6.52 7.08 9.22 11 2.77 4.01 5.14 8.31 7.07 12.78 1.98 4.5 3.53 9.24 4.6 14.1 1.08 4.76 1.68 9.71 1.79 14.76v2.5c-.04 4.33-.46 8.73-1.24 13.06-.86 4.72-2.15 9.36-3.86 13.79a75.712 75.712 0 01-6.59 13.13 75.194 75.194 0 01-9.04 11.61L640.28 880.04c-3.47 3.71-7.2 6.96-11.09 9.74-4 2.87-8.32 5.34-12.83 7.39a77.747 77.747 0 01-13.98 4.79c-4.71 1.12-9.64 1.8-14.65 2.02l-1.35.03c-4.59.11-9.11-.17-13.46-.84l-1.11-.22c-4.5-.76-8.89-1.88-13.07-3.36a76.576 76.576 0 01-13.3-6.24l-.69-.44a76.629 76.629 0 01-11.2-8.18l-.69-.65c-17.14-15.9-35.77-32.09-54.61-48.46-32.63-28.35-77.89-69.24-105.02-97.87l-.09-.09zM666.66 0c184.03 0 350.78 74.68 471.49 195.16 120.49 120.72 195.17 287.47 195.17 471.49 0 184.03-74.68 350.79-195.17 471.5-120.72 120.49-287.47 195.17-471.49 195.17-184.03 0-350.79-74.68-471.5-195.17C74.67 1017.43 0 850.68 0 666.65c0-184.02 74.68-350.78 195.16-471.49C315.88 74.67 482.63 0 666.66 0zm384.75 281.9c-98.45-98.45-234.48-159.33-384.75-159.33-150.29 0-286.31 60.88-384.76 159.33-98.45 98.45-159.33 234.48-159.33 384.75 0 150.29 60.88 286.31 159.33 384.76 98.45 98.45 234.48 159.33 384.76 159.33s286.31-60.88 384.75-159.33c98.45-98.45 159.33-234.48 159.33-384.76s-60.88-286.3-159.33-384.75z"
                                            fill-rule="nonzero" /></svg>
                                </button>
                            </form>
                        </div>
                        <div class="button-column">
                            <form method="POST" action="/goals/delete/<%= goal %>">
                                <button class="btn btn-danger checkmark-button" type="submit">
                                    <svg class="checkmark-svg" xmlns="http://www.w3.org/2000/svg" width="64" height="64"
                                        viewBox="0 0 640 640" shape-rendering="geometricPrecision"
                                        text-rendering="geometricPrecision" image-rendering="optimizeQuality"
                                        fill-rule="evenodd" clip-rule="evenodd">
                                        <path
                                            d="M47.103 50.174H246.57V19.583C246.57 8.81 255.37 0 266.153 0h110.116c10.783 0 19.583 8.811 19.583 19.583v30.59h197.034c6.732 0 12.224 5.505 12.224 12.237v59.966H34.88V62.41c0-6.732 5.491-12.236 12.224-12.236zm33.036 104.02h483.963c10.086 0 19.252 8.328 18.342 18.355l-40.96 449.108c-.91 10.028-8.28 18.343-18.355 18.343H120.533c-10.075 0-17.457-8.291-18.355-18.343L61.784 172.55c-.898-10.063 8.256-18.354 18.355-18.354zm314.508 69.758h51.39v340.173h-51.39V223.952zm-203.14 0h51.39v340.173h-51.39V223.952zm101.564 0h51.402v340.173H293.07V223.952z" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div style="padding-top:30px;"></div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-info">
                <h5 class="card-header text-center">
                    Add a task to finish your goal!
                </h5>
                <div class="card-body">
                    <p class="card-text text-center">
                        <% include ./partials/taskform %>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div style="padding-top:30px;"></div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <% if (tasks.length > 0) { %>
            <div class="card text-white bg-info">
                <div class="card-body">
                    <p class="card-text">
                        <ul>
                            <% for (var i = tasks.length - 1; i >= 0 ; i--) { %>
                            <li> <%= tasks[i] %> </li>
                            <% } %>
                        </ul>
                    </p>
                </div>
            </div>
            <% }  %>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
